
.card{
    width: 95%;
    cursor: pointer;
    height: 400px;
    // display: flex;
    justify-content: center;
    .card-image{
        width: auto;
        height: 280px;
        object-fit: fit;
    }
    .card-item:hover {
        box-shadow: rgba(0, 0, 0, 1) 0px 3px 8px;
    }
    .card-title{
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 1rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    #book_title{
        font-weight: bold;
    }
    
    #final_price{
        font-weight: bold;
    }
    .card-footer{
        height: 60px;
        .price{
            font-size: 1.2rem;
            font-weight: 600;
        }
    }
    
}