.card-body{
    h5{
        font-weight: bold;
        font-size: 1.6rem;
        margin: 0;
        padding: 0;
        span{
            font-size: 1.2rem;
            color: rgb(188, 188, 188);
        }
    }
    h2{
        font-weight: bold;
        font-size: 1.8rem;
        margin: 0;
        margin-top: 10px;
        padding: 0;
    }
}