.card__history__order {
    margin-left: auto;
    margin-right: auto;
    .card__history__order__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .card__history__order__header__status {
            font-size: 0.8rem !important;
            font-weight: 400;
        }
        .card-title {
            margin-top: 0;
        }
        .btn-danger {
            height: 30px;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .card-text {
        margin: 0;
    }
}
