.category-item:hover {
    background-color: rgb(207, 207, 207);
}
.author-item:hover {
    background-color: rgb(207, 207, 207);
}
.star-item:hover {
    background-color: rgb(207, 207, 207);
}

#accordion-item {
    padding: 1px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 5px;
}
