.category-item:hover, .author-item:hover, .star-item:hover {
    background-color: rgb(207, 207, 207);
    cursor: pointer;
}
#accordion-item {
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
