.card__reciver {
    .card__reciver__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .form-check-input {
            border-color: green;
        }
        .form-check-input:checked {
            background-color: green;
        }
    }
    .card-text {
        margin: 0;
    }
}
