.profile {
    .profile__info {
        .profile__info__lastname {
            margin-left: 30px;
        }
    }
    .profile__info__else {
        .profile__info__email {
            margin-left: 30px;
        }
    }
    .form-control {
        width: auto;
    }
    form {
        margin-bottom: 10px;
    }
}
