.pagination{
    .page-item:hover .page-link{
        background-color: rgb(100, 100, 100) !important;
    }
    .page-item.active .page-link {
        z-index: 3;
        color: #fff !important;
        background-color: rgb(91, 91, 91) !important;
        border-color: white;
    }
    .page-link {
        z-index: 3;
        color: #fff !important;
        background-color: rgb(194, 194, 194) !important;
    }
}

.pagination a:focus{
    outline: none !important;
    border-color: #fdfdfd;
    box-shadow: 0 0 0px #ffffff;
    background-color: white;
    color: white;
}